@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white-color: #ffffff;
  --10-grey-color: #f2f2f2;
  --90-grey-color: #1a1a1a;
  --black-color: #000000;
  --accent-one: #ea4335;
  --header-font: 'Lexend';
  --body-font: 'Public Sans';
}

body {
  font-family: var(--body-font);
  color: var(--90-grey-color);
  background-color: var(--white-color);
  max-width: 1440px;
  margin: auto;
  font-size: 1em;
  line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--accent-one);
  font-family: var(--header-font);
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.5em;
  font-weight: 800;
}

h3 {
  font-size: 1.25em;
  font-family: var(--header-font);
  color: var(--90-grey-color);
}

a {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--90-grey-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-one);
  font-weight: 600;
}

footer {
  padding-top: 2.5em;
  text-align: center;
}

footer a {
  font-family: var(--header-font);
}
